{include file="../app/common/view/public/header.html" /}

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">

            <div class="layui-form layuimini-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">管理后台KEY:</label>
                    <div class="layui-input-block">
                        <input type="text" name="admin" placeholder="请输入管理后台KEY" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户后台KEY:</label>
                    <div class="layui-input-block">
                        <input type="text" name="user" placeholder="请输入用户后台KEY" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn layui-btn-normal" lay-submit
                            lay-filter="saveBtn">确认保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script src="/static/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <script src="/static/js/setToken.js" charset="utf-8"></script>
    <script>
        layui.use(['form', 'miniTab'], function () {
            var form = layui.form,
                layer = layui.layer,
                miniTab = layui.miniTab;
            $ = layui.$;
            $.get('/api/admin/v1/key_config/1', {}, function (res) {
                if (res.code == '200') {
                    $('[name=user]').val(res.data.user);
                    $('[name=admin]').val(res.data.admin);
                } else {
                    layer.msg(res.msg, { icon: 2 });
                }
            })
            //监听提交
            form.on('submit(saveBtn)', function (data) {
                data.field._method = 'PUT';
                $.post('/api/admin/v1/key_config/1', data.field, function (res) {
                    if (res.code == '200') {
                        layer.msg(res.msg, { icon: 1 });
                    } else {
                        layer.msg(res.msg, { icon: 2 });
                        localStorage.removeItem('token');
                    }
                })
                return false;
            });

        });
    </script>
    {include file="../app/common/view/public/footer.html" /}