{include file="../app/common/view/public/header.html" /}

<body>
    <div class="layuimini-container">
        <div class="layuimini-main">

            <div class="layui-form layuimini-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">SMTP服务器地址:</label>
                    <div class="layui-input-block">
                        <input type="text" name="host" placeholder="请输入SMTP服务器地址" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">SMTP用户名:</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" placeholder="请输入SMTP用户名" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">SMTP密码:</label>
                    <div class="layui-input-block">
                        <input type="text" name="password" placeholder="请输入SMTP密码" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">TCP端口:</label>
                    <div class="layui-input-block">
                        <input type="text" name="port" placeholder="请输入端口" value="" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn layui-btn-normal" lay-submit
                            lay-filter="saveBtn">确认保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script src="/static/js/lay-config.js?v=1.0.4" charset="utf-8"></script>
    <script src="/static/js/setToken.js" charset="utf-8"></script>
    <script>
        layui.use(['form', 'miniTab'], function () {
            var form = layui.form,
                layer = layui.layer,
                miniTab = layui.miniTab;
            $ = layui.$;
            //监听提交
            form.on('submit(saveBtn)', function (data) {
                $.get('http://www.baidu.com', data.field, function (res) {
                    console.log(res)
                    if (res == '1') {
                        layer.msg(res.msg, { icon: 1 });
                    } else {
                        layer.msg(res.msg, { icon: 2 });
                    }
                })
                return false;
            });

        });
    </script>
    {include file="../app/common/view/public/footer.html" /}